@charset "UTF-8";
body {
  background-image: url("../images/fondo3.png");
  background-color: black;
  background-size: cover; }

header {
  background-color: black;
  padding: 20px;
  margin-bottom: 15px; }

footer {
  background-color: #2ecc71;
  padding: 20px;
  margin-top: 15px;
  position: static;
  bottom: 0;
  width: auto; }

.tamañoAltura {
  width: 100%;
  height: 100%; }

@media (min-width: 150px) and (max-width: 770px) {
  .tamañoAltura {
    height: 60%; } }

@media (min-width: 150px) and (max-width: 770px) {
  .centrarAltura {
    display: grid;
    place-items: center; } }

img, img:hover, .post-centro, .post-centro:hover {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; }

.blurea:hover {
  filter: blur(5px); }

.zoomea:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

.links:hover {
  background-color: lightgreen; }

.divTransparente {
  background-color: rgba(0, 0, 0, 0.7); }

.divTransparenteVerde {
  background-color: rgba(0, 255, 0, 0.4); }

.textoBlanco {
  color: white; }

.fuenteMontserrat {
  font-family: 'Montserrat', sans-serif; }

.fuenteMerriweatherS {
  font-family: 'Merriweather', serif;
  font-size: 13px; }

.fuenteMerriweatherSS {
  font-family: 'Montserrat', sans-serif; }
