img,img:hover,.post-centro,.post-centro:hover{
    transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;
}
.blurea:hover {
    filter: blur(5px);
}
.zoomea:hover {
    -webkit-transform:scale(1.05);transform:scale(1.05);
}
.links:hover{
    background-color: lightgreen;
}

.img__description {
    position: absolute;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.visible:hover {
    visibility: visible;
    opacity: 1;
}