@import "estructura";
@import "animaciones";
@import "colores";
@media (min-width: 150px) and (max-width: 770px) {

    #carouselExampleIndicators, .carousel-inner, .carouselExampleIndicators, .container{

    align-self: center;
    
    }
  }
.fuenteMontserrat{
    font-family: 'Montserrat', sans-serif;
}
.fuenteMerriweatherS{
    font-family: 'Merriweather', serif;
    font-size: 13px;
}
.fuenteMerriweatherSS{
    font-family: 'Montserrat', sans-serif;
}