@import "estructura";
@import "animaciones";
@import "colores";
.fuenteMontserrat{
    font-family: 'Montserrat', sans-serif;
}
.fuenteMerriweatherS{
    font-family: 'Merriweather', serif;
    font-size: 13px;
}
.fuenteMerriweatherSS{
    font-family: 'Montserrat', sans-serif;
}